*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url('/img/bg-web-express.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
body .background{
    width:100%;
    height:100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    background-color: rgb(70, 70, 164);
}
.header{
    text-align: center;
    color:white;
}
.header img{
    width:80px;
    margin: 20px 0;
}
.plaza img{
    width:100%;
    border:5px solid rgb(43, 43, 164);
}
.name{
    text-align: center;
}
.name img{
    width: 140px;
}
.font-icon{
    color:#fff;
    font-size: 1.5rem;
}
.slash{
    color: #ffffff46;
    font-size: 1.3rem;
}
.photo{
    border:5px solid rgb(43, 43, 164);
}
.foot{ 
    font-size: 15px;
    color:white;
}
.img-foot{
    width:6%;
}